body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-image: url(faces.jpg);
    width: calc(100% - 33px);
    font-family: 'Quicksand', sans-serif;
  }
  .centre {
    display: flex;
    justify-content: center;
  }
  canvas {
    position: absolute;
  }
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .result-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .result-container > div {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 5px 0;
    color: white;
    text-transform: capitalize;
  }
  #age {
    background: #FF7396;
    border-radius: 10px;
  }
  #emotion {
    background: #A10035;
    border-radius: 10px;
  }
  #gender {
    background: #937DC2;
    border-radius: 10px;
  }
  video {
    width: 100%;
  }
  header {
    background: #FFA500;
    color: white;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    font-size: 2rem;
  }